In [1]:
import pandas as pd

df = pd. read_csv('kenya_daily_demand_weather_gdp_population_NATIONAL_2022_2027-consolidated.csv')

#review of first 5 rows
df.head()

,date,year,month,weekday,is_weekend,season,demand_gwh_daily,demand_low_gwh_daily(5%),demand_high_gwh_daily(7%),demand_gwh,...,demand_high_gwh(7%),gdp_current_usd_billion,population_total,temp_c_synthetic,rainfall_mm_synthetic,humidity_pct_synthetic,lat,lon,country,aggregation
0,1/1/2022,2022,1,Saturday,True,short_dry,26.597,NaN,NaN,10008.0,...,NaN,113.42,54241584,24.07,1.52,55.3,-0.023559,37.906193,Kenya,national
1,1/2/2022,2022,1,Sunday,True,short_dry,26.597,NaN,NaN,10008.0,...,NaN,113.42,54241584,26.72,2.11,51.0,-0.023559,37.906193,Kenya,national
2,1/3/2022,2022,1,Monday,False,short_dry,27.419,NaN,NaN,10008.0,...,NaN,113.42,54241584,26.45,2.48,55.0,-0.023559,37.906193,Kenya,national
3,1/4/2022,2022,1,Tuesday,False,short_dry,27.419,NaN,NaN,10008.0,...,NaN,113.42,54241584,22.98,2.70,56.5,-0.023559,37.906193,Kenya,national
4,1/5/2022,2022,1,Wednesday,False,short_dry,27.419,NaN,NaN,10008.0,...,NaN,113.42,54241584,23.40,2.89,59.1,-0.023559,37.906193,Kenya,national

In [3]:
df.tail()

,date,year,month,weekday,is_weekend,season,demand_gwh_daily,demand_low_gwh_daily(5%),demand_high_gwh_daily(7%),demand_gwh,...,demand_high_gwh(7%),gdp_current_usd_billion,population_total,temp_c_synthetic,rainfall_mm_synthetic,humidity_pct_synthetic,lat,lon,country,aggregation
2186,12/27/2027,2027,12,Monday,False,short_rains,36.037,34.828,37.558,13153.4,...,13708.8,145.78,59887092,26.66,1.02,84.6,-0.023559,37.906193,Kenya,national
2187,12/28/2027,2027,12,Tuesday,False,short_rains,36.037,34.828,37.558,13153.4,...,13708.8,145.78,59887092,21.86,1.51,68.7,-0.023559,37.906193,Kenya,national
2188,12/29/2027,2027,12,Wednesday,False,short_rains,36.037,34.828,37.558,13153.4,...,13708.8,145.78,59887092,21.06,2.58,77.6,-0.023559,37.906193,Kenya,national
2189,12/30/2027,2027,12,Thursday,False,short_rains,36.037,34.828,37.558,13153.4,...,13708.8,145.78,59887092,20.78,6.19,87.5,-0.023559,37.906193,Kenya,national
2190,12/31/2027,2027,12,Friday,False,short_rains,36.037,34.828,37.558,13153.4,...,13708.8,145.78,59887092,25.08,3.16,77.9,-0.023559,37.906193,Kenya,national

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191 entries, 0 to 2190
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       2191 non-null   object
 1   year                       2191 non-null   int64
 2   month                      2191 non-null   int64
 3   weekday                    2191 non-null   object
 4   is_weekend                 2191 non-null   bool
 5   season                     2191 non-null   object
 6   demand_gwh_daily           2191 non-null   float64
 7   demand_low_gwh_daily(5%)   1461 non-null   float64
 8   demand_high_gwh_daily(7%)  1461 non-null   float64
 9   demand_gwh                 2191 non-null   float64
 10  demand_low_gwh(5%)         1461 non-null   float64
 11  demand_high_gwh(7%)        1461 non-null   float64
 12  gdp_current_usd_billion    2191 non-null   float64
 13  population_total           2191 non-null   int64
 14  temp_c_synthetic           2191 non-null   float64
 15  rainfall_mm_synthetic      2191 non-null   float64
 16  humidity_pct_synthetic     2191 non-null   float64
 17  lat                        2191 non-null   float64
 18  lon                        2191 non-null   float64
 19  country                    2191 non-null   object
 20  aggregation                2191 non-null   object
dtypes: bool(1), float64(12), int64(3), object(5)
memory usage: 344.6+ KB

In [15]:
df.shape

(2191, 21)

In [19]:
df.isnull().sum()

date                           0
year                           0
month                          0
weekday                        0
is_weekend                     0
season                         0
demand_gwh_daily               0
demand_low_gwh_daily(5%)     730
demand_high_gwh_daily(7%)    730
demand_gwh                     0
demand_low_gwh(5%)           730
demand_high_gwh(7%)          730
gdp_current_usd_billion        0
population_total               0
temp_c_synthetic               0
rainfall_mm_synthetic          0
humidity_pct_synthetic         0
lat                            0
lon                            0
country                        0
aggregation                    0
dtype: int64

In [20]:
print(f"   Percentage missing: {(df.isnull().sum().sum() / df.size * 100):.2f}%")

   Percentage missing: 6.35%

In [22]:
df.describe()

,year,month,demand_gwh_daily,demand_low_gwh_daily(5%),demand_high_gwh_daily(7%),demand_gwh,demand_low_gwh(5%),demand_high_gwh(7%),gdp_current_usd_billion,population_total,temp_c_synthetic,rainfall_mm_synthetic,humidity_pct_synthetic,lat,lon
count,2191.000000,2191.000000,2191.000000,1461.000000,1461.000000,2191.000000,1461.000000,1461.000000,2191.000000,2.191000e+03,2191.000000,2191.000000,2191.000000,2.191000e+03,2191.000000
mean,2024.499772,6.523962,31.091254,32.119526,33.716968,11451.402099,11832.092266,12420.382546,126.818941,5.702681e+07,22.973642,3.369156,68.796166,-2.355900e-02,37.906193
std,1.707859,3.449207,2.968177,1.833834,2.619663,1079.132417,645.565277,939.380554,13.377006,1.928400e+06,2.148334,2.633713,9.442539,3.470239e-18,0.000000
min,2022.000000,1.000000,26.597000,29.103000,29.658000,10008.000000,10981.300000,11190.400000,107.440000,5.424158e+07,15.700000,0.000000,38.000000,-2.355900e-02,37.906193
25%,2023.000000,4.000000,28.653000,30.004000,30.575000,10458.400000,10981.300000,11190.400000,113.420000,5.532642e+07,21.580000,1.525000,62.400000,-2.355900e-02,37.906193
50%,2024.000000,7.000000,30.204000,31.590000,32.805000,11054.500000,11530.300000,11973.800000,124.500000,5.643294e+07,23.030000,2.760000,68.700000,-2.355900e-02,37.906193
75%,2026.000000,10.000000,33.837000,33.170000,35.101000,12350.600000,12106.900000,12811.900000,138.310000,5.871284e+07,24.440000,4.585000,75.200000,-2.355900e-02,37.906193
max,2027.000000,12.000000,36.037000,34.828000,37.558000,13153.400000,12712.200000,13708.800000,145.780000,5.988709e+07,30.750000,16.010000,100.000000,-2.355900e-02,37.906193

In [24]:
df.duplicated().sum()

0